body {
    background-color: black;
  }
  #none{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }
  #val{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  #nonep{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: x-large;
    text-align: center;
  }
  #valp{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
  }
  #combo{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
::-webkit-scrollbar {
  display: none;
}